.character {

}

.character-characteristics-section,
.character-abilities-section {
    display: flex;
    flex-direction: column;
}

.character-characteristics-section-header,
.character-abilities-section-header {
    align-content: center;
}

.character-characteristics-section-header-title,
.character-abilities-section-header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    gap: 40px;
}

.character-characteristics-section-header-title:before,
.character-abilities-section-header-title:before {
    content: '';
    width: auto;
    height: 5px;
    background: black;
    flex: 1;
}

.character-characteristics-section-header-title:after,
.character-abilities-section-header-title:after {
    content: '';
    width: auto;
    height: 5px;
    background: black;
    flex: 1;
}

.character-characteristics-section-body,
.character-abilities-section-body {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.characteristics-block {
.abilities-block,
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.characteristics-block-title,
.abilities-block-title {
    text-align: center;
    text-transform: uppercase;
}

.characteristics-item,
.abilities-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.characteristics-item > label,
.abilities-item > label {
    text-transform: uppercase;
}

.characteristics-item > select,
.abilities-item > select {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    -webkit-border-radius: 0;
    flex: 1;
}